## Module1: Data Types

#### 1. Construct 2 lists containing all the available data types (interger, float, string, complex, and boolean) and do the following
    #### a. Create another list by concatenating above 2 lists
    #### b. Find the frequency of each element in the concatenated list
    #### c. Print the list in reverse order

In [4]:
list1 = [5, 5, "Aish", (2+3j), True]
list2 = [2, 2.3, "Snehal", (3+4j), False]

In [5]:
# a. Create another list by concatenating above 2 lists
list3 = list1 + list2
print(list3)

[5, 5, 'Aish', (2+3j), True, 2, 2.3, 'Snehal', (3+4j), False]

In [6]:
# b. Find the frequency of each element in the concatenated list
def CountFrequency(x):
    freq = {}
    for item in list3:
        if item in freq:
            freq[item] += 1
        else:
            freq[item] = 1
    for key, value in freq.items():
        print('%s:%s' %(key, value))
CountFrequency(list3)

5:2
Aish:1
(2+3j):1
True:1
2:1
2.3:1
Snehal:1
(3+4j):1
False:1

In [7]:
# c. Print the list in reverse order
print(list3[::-1])

[False, (3+4j), 'Snehal', 2.3, 2, True, (2+3j), 'Aish', 5, 5]

In [8]:
list3

[5, 5, 'Aish', (2+3j), True, 2, 2.3, 'Snehal', (3+4j), False]

## Problem 2

#### Create 2 sets containing intergers (numbers from 1 to 10 in one set and 5 to 15 in other set).
#### a. Find the common elements in above 2 sets
#### b. Find the elements that are not common
#### c. Remove element 7 from both the sets

In [ ]:
set1 = {1,2,3,4,5,6,7,8,9,10}
print(set1)

In [ ]:
set2 = {5,6,7,8,9,10,11,12,13,14,15}
print(set2)

In [ ]:
# a. Find the common elements in above 2 sets
# we can use '&' (and) for intersection and '|' (or) for union between 2 sets
set3 = set1 & set2 
print(set3)

In [ ]:
# b. Find the elements that are not common
set4 = set()
for i in set1:
    if i not in set2:
        set4.add(i)
for j in set2:
    if j not in set1:
        set4.add(j)
print(set4)

In [ ]:
# c. Remove element 7 from both the sets
set1.remove(7)
set2.remove(7)
print(set1)
print("___________")
print(set2)

## Problem3

#### Create a data dictionary of 5 states having name as key and number of covid-19 cases as values.
#### a. Print only state names from the dictionary
#### b. Update the dictionary with another country and it’s covid-19 cases

In [ ]:
states = {"maharashtra":4000, 'bihar':3000, 'rajasthan':2000, 'kerala':5000, 'punjab':1500}
print(states)

In [ ]:
# a. Print only state names from the dictionary
states.keys()

In [ ]:
# b. Update the dictionary with another country and it’s covid-19 cases
states['Assam'] = 1000
print(states)